@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-bg-1: rgba(32,45,54,255);
  --dark-bg-2: hsl(0, 0%, 52%);
  --dark-bg-3: rgba(43,55,67,255);
  --dark-tx-1: hsl(230, 100%, 98%);
  --dark-tx-2:  rgb(248 250 252);
  --dark-tx-3: hsl(0, 0%, 100%);

  --bg-1: var(--dark-tx-1);
  --bg-2: var(--dark-tx-2);
  --bg-3: var(--dark-tx-3);
  --tx-1: var(--dark-bg-1);
  --tx-2: var(--dark-bg-2);
  --tx-3: var(--dark-bg-3);


  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--tx-1);
  background-color: var(--bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--tx-1);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color .2s ease, color .2s ease;
  background-color: var(--bg-1);
  color: var(--tx-1)
}

h1 {
  color: var(--tx-3);
  transition: color .5s ease;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: -1rem
}

h2{
  color: var(--tx-3);
  transition: color .5s ease;
  font-size: 1.2rem;
  min-height: 3rem;
}

.navbar{
  width: 100vw;
  height: 100px;
  background-color: var(--bg-3);
  padding: 2rem 10rem 1rem 6rem;
  text-align: left;
  position: fixed;
  top:0;
  left: 0;
  z-index: 200;
}

button{
  margin: 0.2rem;
  background-color: var(--bg-3);
  padding : 0.2em 1.2rem;
  border: grey solid 1px;
  border-radius: 0.2rem;
}

.inputContainer{
  position: absolute;
  margin-left: 10rem;
  margin-top: -2.6rem;
}
input{
  border-radius: 0.2rem;
  background-color: var(--bg-3);
  padding : 0.2em 2rem;
  width: 15rem
}

.click{
  margin-top: 0.2rem;
  background-color: var(--bg-3);
  text-align: left;
  padding: 0.5rem 1.5rem;
  margin-left: 0;
  border-radius: 0.2rem;
  position: absolute;
  width: 15rem;
}

.container{
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
  margin:5rem;
}

.card{
  height: 320px;
  width: 240px;
  background-color: var(--bg-3);
  font-size: 0.8rem;
  text-align: left;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.containerDetail{
  text-align: left;
  margin-top: 12rem;
  display: flex;
  gap: 6rem;
  min-width: 80vw;

}
.innerDetail{
  display: flex;
  flex-direction: column;
  height: 20vh;
  flex-wrap: wrap;
  width: 40vw;
}

/* night mode properties */
/* source : https://codepen.io/moso/pen/MxLwbE */

body {
    &.dark-mode {
      --tx-1: hsl(0, 0%, 80%);
      --tx-2: rgb(248 250 252);
      --tx-3: hsl(0, 0%, 100%);
      --bg-1: var(--dark-bg-1);
      --bg-2:  var(--dark-bg-2);
      --bg-3:  var(--dark-bg-3);
      }
}

.mode-toggle {
    position: relative;
    margin: auto .5rem .5rem auto;
    padding: 0;
    width: 44px;
    height: 24px;
    min-width: 36px;
    min-height: 20px;
    background-color: #262626;
    border: grey 1px solid;
    border-radius: 24px;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    appearance: none;
    transition: background-color .5s ease;

    .toggle {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid transparent;
        box-shadow: inset 0 0 0 2px #a5abba;
        overflow: hidden;
        transition: transform .5s ease;

        #dark-mode {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;

            &:before {
                content: '';
                position: relative;
                width: 100%;
                height: 100%;
                left: 50%;
                float: left;
                background-color: #a5abba;
                transition: border-radius .5s ease, width .5s ease, height .5s ease, left .5s ease, transform .5s ease;
            }
        }
    }
}

body.dark-mode {
    .mode-toggle {
        background-color: hsl(207, 26%, 17%);

        .toggle {
            transform: translateX(19px);

            #dark-mode {
                &:before {
                    border-radius: 50%;
                    width: 150%;
                    height: 85%;
                    left: 40%;
                    transform: translate(-10%, -40%), rotate(-35deg);
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 768px) { 
  .navbar{
    height: 100px;
    padding: 2rem 1rem 1rem;
  }
  h1{
    font-size: 1rem;
  }
  h2{
    color: var(--tx-3);
    font-size: 1rem;
    min-height: 0;
  }
  p{
    font-size: 0.7rem;
  }
  .inputContainer{
    margin-left: 1rem;
    margin-top: -7rem;
  }
  .containerDetail{
    margin-top: 120px;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    padding: 1rem
  }
  .innerDetail{
    display: flex;
    flex-direction: column;
    height: 30vh;
    flex-wrap: wrap;
    margin-top: 0;
  }

}